<!--The content below is only a placeholder and can be replaced.-->
<div class="ui container">
    <section class="ui raised segment">

      <!-- Using app-nav component to display nav -->
        <app-nav></app-nav>

      </section>

      <section class="ui raised segment">
      <div class="ui basic segment">
          <div class="ui stackable two column grid">
            <div class="column">
                <form class="ui form stacked segment">
                    <h3 class="ui dividing header"> What have I done! </h3>
                    <p>Using ng-include to display information from another component</p>
                  </form>
                </div>


                <div class="column">
                    <form class="ui form stacked segment">
                    <h4 class="ui dividing header"> NG-INCLUDE example happening below </h4>

                    <!-- Using app-paragraph component to display paragraph -->
                      <app-paragraph></app-paragraph>

                    </form>
                  </div>
              </div>
            </div>
          </section>
             <!-- Displaying the ngif component -->
             <app-ngif></app-ngif>

        </div>


