<section class="ui raised segment">
    <div class="ui grid ">
      <div class="ui form sixteen wide column">
        <div class="ui stacked segment">

          <!-- Using ngModel which will set the checkbox to false. -->
          <label><input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/> Tick me</label>
            <!-- Using ngIf to display the paragraph component content. -->
            <span *ngIf="marked"> <app-paragraph></app-paragraph> </span>

            <span *ngIf="!marked"><p>I am not displaying any component here!</p></span>
          </div>
        </div>
      </div>
</section>
